
.button{
    border: 0;
    padding: 15px 31px;
    border-radius: 6px;
    max-width: 217px;
    font-family: var(--ff-fraunces);
    color: hsl(var(--clr-white));
    cursor: pointer;

    &:hover{
        background: hsl(var(--clr-lightCyan));
    }

    &[aria-selected="false"]{
        background-color: hsl(var(--clr-lightGrey));
    }
}