@use '../abstracts' as *;

.toggle__nav{
    display: none;
    position: absolute;
    z-index: 2000;
    right: 5%;
    top: 2.3rem;
    background: transparent;
    border: none;
    background-image: url(../../assets/shared/mobile/icon-hamburger.svg); 
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    transform: rotate(180deg);
    transition: background-image .4s ease-in, transform .4s ease-in-out;

    @media(max-width: $br-small){
        display: block;
    }
}

/*hamburger nav animations*/
.toggle__nav.active{
     transform: rotate(0);
    background-image: url(../../assets/shared/mobile/icon-close.svg);
}

